<ion-header>
      
            <ion-toolbar>
                  <ion-item class="radius">
                  <img alt="Silhouette of a person's head" src="./assets/img/4traicam.png"/>
                  </ion-item>
            </ion-toolbar>
      
</ion-header>
    
    <ion-content [fullscreen]="true" class="ion-padding">
     
        <ion-item>
          <ion-input placeholder="Chứng Minh Nhân Dân"></ion-input><ion-icon name="key"></ion-icon>
          
        </ion-item>
        <ion-button fill="outline" color="warning">Đăng Nhập</ion-button>

    </ion-content>