#container {
  text-align: center;

  
  left: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-toolbar {
  --background:#ff5900;
  --color: white;

  --border-color: #ff5900;
  --border-width: 4px 0;
  --border-style: double;

  --min-height: 120px;
  --padding-top: 30px;
 
}
.radius {
  width: 18rem;
  height: 8rem;
  background-color: #ffffff;
  border-radius: 10rem 10rem 0 0;
  margin:auto;
  padding-bottom: 25px;
  padding-top:15px;
}
img {
  width: 18rem;
  height: 8rem;
  background-color: #ffffff;
  border-radius: 10rem 10rem 0 0;
  margin:auto;
  padding-bottom: 25px;
  position: relative;
  padding-top:15px;
}

ion-button {
  padding-top: 10px;
  width: 90%;
  margin: auto;
  
}


